
<popup (confirmClick)="confirmEvent()" (cancelClick)="cancelEvent()">
  <form #dialogForm="ngForm">
    <div *ngFor="let refObj of refObjs; let idx = index">
      <label for="{{refObj.id}}"> Enter the value for {{refObj.oldValue.substring(2)}}</label>
      <input type="number" name="{{refObj.id}}" [(ngModel)]="refObjs[idx].value">
    </div>
  </form>
</popup>

<div class="container">

  <form #form="ngForm" (submit)=calculate()>

    <label for="inputString">Expression</label>
    <textarea class="form-control" id="inputString" cols="8" rows="4" name="inputString" [(ngModel)]="inputString" required></textarea>
    <br>
    <br>
    <button style="text-align: center;" type="submit" class="btn btn-success" [disabled]="!form.valid">Calculate</button>

    <br>
    <br>

    <label for="result">Result</label>
    <textarea class="form-control" id="result" cols="8" rows="4" name="result" [(ngModel)]="result"></textarea>

  </form>
</div>