<popup id="popup">
  <form class="form-horizontal" #formPopup ="ngForm" (submit)="confirmEvent()" autocomplete="off">
    <div class="form-group">
      <label class="control-label col-sm-4" for="currencyCode">Currency code</label>
      <div class="col-sm-4">
        <input type="text" name="currencyCode" [(ngModel)]="newCurrency.code" required>
      </div>
    </div>
    <div class="form-group">
      <div id="btGroup">
        <button type="button" style="float:right;  margin:10px" class="btn btn-default" (click)="cancelEvent()">Cancel</button>
        <button type="submit" style="float:right; margin:10px" class="btn btn-success" [disabled]="!formPopup.valid">Calculate</button>
      </div>
    </div>
  </form>
</popup>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar nav">
        <div class="btn-group">
          <button type="button" (click)="addCurrency()">Add New Currency</button>
          <button type="button" >Samsung</button>
          <button type="button">Sony</button>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="border:1px solid silver; text-align: center">
      <h4 style="font-weight: bold">Periods</h4>
      <ul>
        <li *ngFor="let period of periods; let i = index">
          <a (click)="setCurrentPeriod(period)">{{period.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-10">
      <form class="form-inline">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let currency of currencies; let i = index">{{currency.code}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let currency of currencies; let i = index">
              <th>{{currency.code}}</th>
              <td *ngIf="currency.isBase">1</td>
              <td *ngIf="!currency.isBase">
                <input class="form-control input-sm" type="number" id="{{currency.code}}" name="{{currency.code}}" [(ngModel)]="currentPeriod.rates[i]" [ngModelOptions]="{standalone: true}"> </td>
              <td *ngFor="let currency1 of currencies  | slice:1; let j = index">{{(currency.id!==currency1.id)?(calculateRate(currentPeriod.rates[i], currentPeriod.rates[j+1])).toPrecision(3):1}}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>